<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datenbestand</title>
</head>
<alert></alert>
<body style="background: none">


<div class='container custom-container'>
  <div class="jumbotron" [ngClass]="(darkMode$ | async)? 'text-white, bg-dark': 'text-dark, bg-white'">
<table class="table table-striped">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Name</th>
    <th scope="col">Messort</th>
    <th scope="col">Mess-Distanz</th>
    <th scope="col">Durchführender</th>

  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let table of tables; index as i">
    <th scope="row">{{i + 1}}</th>
    <td>
      {{table.measurement}}
    </td>
    <td>
      {{table.place}}
    </td>
    <td>
      {{table.distance}}
    </td>
    <td>
      {{table.user}}
    </td>
    <td>
      <button class="btn" (click)="open(tables[i].measurement)"><fa-icon [icon]="['far', 'eye']"></fa-icon></button>


      <!--<button class="btn" (click)="openTable(table.name)">-->
    </td>
  </tr>
  </tbody>
</table>
  </div>
</div>
<button (click)="getExistingTables()">Testbutton</button>
</body>
<app-dark-mode style="display: none"></app-dark-mode>
</html>

