<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Datenbestand</title>
</head>
<body>
<header>

</header>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" href="#">Home</a>
      <a class="nav-item nav-link" href="/chart">Messung</a>
      <a class="nav-item nav-link active" href="/data">Datenbestand<span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="#">Einstellungen</a>
    </div>
  </div>
</nav>
</body>
<app-dark-mode style="display: none"></app-dark-mode>
</html>
