<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>APS-Settings</title>
</head>
<body style="background: none">
<div class='container custom-container'>
  <div class="jumbotron jumbotron-fluid" [ngClass]="(darkMode$ | async)? 'text-white, bg-dark': 'text-dark, bg-white'">
    <table class="table-sm" [ngClass]="(darkMode$ | async) ? 'table-dark': ''">
      <tr>
        <th>
          Nachtmodus
        </th>
        <th>
          <app-dark-mode></app-dark-mode>
        </th>
      </tr>
      <tr>
        <th>
          Versionsnummer
        </th>
        <th>
          FE1AP1BE1
        </th>
      </tr>
      <tr>
        <th>
          Update
        </th>
        <th>
          <p>
            <button type="button" class="btn btn-outline-primary" (click)="collapse.toggle()"
                    [attr.aria-expanded]="!isCollapsedUpdate"
                    aria-controls="collapseExample">
              Information zum Update
            </button>
          </p>
          <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsedUpdate">
            <div class="card-body">
              <h2>Voraussetzung:</h2>
              Internetverbindung via Ethernet-Leitung

              <h2>Hinweis</h2>
              <p>Lesen Sie die Anleitung vollständig durch bevor Sie das Update starten. </p>
              <h2><b>Ablauf</b></h2>
              <p>
                Klicken Sie auf den orangen "Update durchführen"-Button.<br/>
                Verbinden Sie den APS darauffolgend mit dem Internet, indem Sie innerhalb von 30 Sekunden das
                Ethernetkabel in den passenden Port stecken <br/>
                Sofern der APS mit dem Internet verbunden ist, führt er das Update selbstständig durch.<br/>
                Andernfalls wird das Programm lediglich neu initialisiert.<br/>
                Sobald die Signallampe des APS aufhört zu leuchten, ist das Update abgeschlossen.<br/>
                Sowohl das Update als auch die Neu-Initialisierung können abhängig von der Versionsnummer des Gerätes
                2-10 Minuten in Anspruch nehmen. <br/>
              </p>
              <button class="btn-warning" (click)="updateRpi()"> Update starten</button>
            </div>
          </div>
        </th>
      </tr>
      <tr>
        <th>
          Kommentare
        </th>
        <th>
          <button type="button" class="btn btn-outline-primary" (click)="isCollapsedQuickCom = !isCollapsedQuickCom"
                  [attr.aria-expanded]="!isCollapsedQuickCom"
                  aria-controls="collapseExample">
            Schnellkommentare bearbeiten
          </button>
          <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsedQuickCom">
            <div class="card-body">
              <div cdkDropList class="example-list" (cdkDropListDropped)="drop($event)">
                <div class="example-box" *ngFor="let btn of comBtns" cdkDrag>
                  {{btn.comment}}
                  <button style="border: none; background: none" (click)="deleteQuickCommentBtn(btn.comment)">
                    <fa-icon [icon]="['far', 'minus-square']"></fa-icon>
                  </button>
                </div>
              </div>
              <div class="input-group mb-3">
                <input [(ngModel)]="newComment" class="form-control" list="datalistOptions" id="commentInput"
                       placeholder="Kommentar" (keyup.enter)="addQuickCommentBtn(newComment)">
                <datalist id="datalistOptions">
                  <ng-container *ngFor="let comment of freeComs; let i=index">
                    <option value="{{comment.comment}}">
                  </ng-container>
                </datalist>
                <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                        (click)="addQuickCommentBtn(freeComs)"><img
                  src="assets/chat-right-quote-fill.svg"></button>
              </div>
            </div>
          </div>
        </th>
        <th>
          <button type="button" class="btn btn-outline-primary" (click)="deleteFreeComments()">
            Schnellkommentare bearbeiten
          </button>
        </th>
      </tr>
    </table>
  </div>

</div>
</body>
</html>
