
@media only screen and (max-width: 415px) and (orientation: portrait) {
  #hochformat {
    display: flex !important;
    position: center;
    margin-right: auto;
    margin-left: auto;
    z-index:100;
    border-radius: 20px;
    width: 80%;
  }
  .content {
    display: none;
  }
}

@media only screen and (max-height: 415px) and (orientation:landscape)  {
  #querformat {
    display: block !important;
  }
 header {
   display: none;
 }
}


#col1 {
  grid-template-rows: 1fr 1fr 1fr;
}

.btn-danger:after {
  content: 'Messung stoppen';
}

.btn-success:after {
  content: 'Messung starten';
}

 .custom-chart {
   height: 400px;
 }

 .btn {
 }
