<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Messung</title>
</head>
<body>
<div class='container custom-container'>
  <div class="jumbotron jumbotron-fluid" [ngClass]="(darkMode$ | async)? 'text-white, bg-dark': 'text-dark, bg-white'">
    <div class="content container">
      <div class="row" id="chartRow">
        <div class="col">
          <div echarts [options]="options" [merge]="updateOptions" class="demo-chart custom-chart"></div>
        </div>
      </div>
      <div class="row" id="btnRow">
        <div class="col-3">
          <button class="btn btn-success btn-lg" *ngIf="!runningMeasuring"
                  (click)="changeRunningMeasuring()">
            Start
          </button>
            <button class="btn btn-danger btn-lg" *ngIf="runningMeasuring"
                    (click)="changeRunningMeasuring()">
              Stop
            </button>
        </div>
        <div class="col-3">
          <button type="button" class="btn btn-warning btn-lg" *ngIf="runningMeasuring"
                  (click)="changePauseMeasuring()">
            Pause
          </button>
        </div>
        <div class="col-6" id="GaugeCommentCol">
          <mwl-gauge
            [min]="0"
            [max]="100"
            [dialStartAngle]="0"
            [dialEndAngle]="180"
            [value]=currentSpeed
            [animated]="true"
            [animationDuration]="1"
            *ngIf="runningMeasuring"
          ></mwl-gauge>
          <div class="input-group mb-3" id="CommentGroup" *ngIf="runningMeasuring">
            <input [(ngModel)]="choosedComment" class="form-control" list="datalistOptions" id="commentInput" placeholder="Kommentar" (keyup.enter)="setComment(choosedComment, 50)">
            <datalist id="datalistOptions">
              <ng-container *ngFor="let comment of comments; let i=index">
                <option value="{{comment.comment}}">
              </ng-container>
            </datalist>
            <button class="btn btn-outline-secondary" type="button" id="button-addon2" (click)="setComment(choosedComment, 50)"><img
              src="assets/chat-right-quote-fill.svg"></button>
          </div>
        </div>
      </div>
      <h1>{{choosedComment}}</h1>
    </div>
    <img id="hochformat" src="assets/rotatePhone.gif" style="display: none"/>
  </div>
</div>
</body>
<app-dark-mode style="display: none"></app-dark-mode>
</html>





