<!DOCTYPE html>
<html>
<head>
  <title>PlanoApp</title>
</head>
<body>
<header>
  <img height="200px" src="assets/logo.png">
</header>

<div class="bb">
    <div echarts [options]="chartOption" class="demo-chart"></div>
    <span (click)="function2()" class="close">&times;</span>
  </div>
  <button (click)="openChart()" id="button1" class="button buttonMessung"> Neue Messung </button>
  <button class="button buttonData"> Messung2 </button>
  <button class="button buttonMessung"> Messung3 </button>
  <div class="bb">
  <div class="button buttonData"> Messung4 </div>
  <div class="button buttonMessung"> Messung5 </div>
  <div class="button buttonData"> Messung6 </div>
</div>



</body>
</html>
