<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>APS-Dashboard</title>
</head>
<body>
<div class='container custom-container'>
  <div class="jumbotron" [ngClass]="(darkMode$ | async)? 'text-white, bg-dark': 'text-dark, bg-white'">
    <div class="card-group">
      <div class="card">
        <img src="assets/Messung1.jpg" class="card-img-top" routerLink="/chart">
        <div class="card-body">
          <h2 class="card-title">Neue Messung</h2>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This content is a little bit longer.</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/db.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Datenbestand</h2>
          <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
        </div>
      </div>
      <div class="card">
        <img src="assets/settings.png" class="card-img-top" alt="...">
        <div class="card-body">
          <h2 class="card-title">Einstellungen</h2>
          <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional
            content. This card has even longer content than the first to show that equal height action.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>
<app-dark-mode style="display: none"></app-dark-mode>

