
@media only screen and (min-width: 415px){
  button {
    border: none;
    color: white;
    height: 250px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin: 4px 2px;
    cursor: auto;
  }
}

@media only screen and (max-width: 415px) {
  .button {
    border: none;
    color: white;
    height: 100px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    margin: 4px 2px;
    cursor: auto;
  }
}

#button1:hover {
  background-image: url("src/assets/Messung1.jpg");
}

#button2:hover {
  background-image: url("src/assets/db.png");
}

#button3:hover {
  background-image: url("src/assets/settings.png");
}


