<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>APS-Dashboard</title>
</head>
<body>

<div class="d-flex flex-column"></div>


<ktd-grid [cols]="cols"
          [rowHeight]="rowHeight"
          [layout]="layout"
          (layoutUpdated)="onLayoutUpdated($event)">
  <ktd-grid-item [id]="'chart'">
    <chartComp [(ngbCollapse)]="isCollapsedChart"></chartComp>
  </ktd-grid-item>
  <ktd-grid-item [id]="'data'">
    <dataComp [(ngbCollapse)]="isCollapsedData"></dataComp>
  </ktd-grid-item>
  <ktd-grid-item [id]="'settings'">
    <settingsComp [(ngbCollapse)]="isCollapsedSettings"></settingsComp>
  </ktd-grid-item>
</ktd-grid>


<button type="button" class="btn btn-outline-primary" (click)="isCollapsedChart = !isCollapsedChart"
        [attr.aria-expanded]="!isCollapsedChart" aria-controls="collapseExample">
  Chart
</button>
<button type="button" class="btn btn-outline-primary" (click)="isCollapsedData = !isCollapsedData"
        [attr.aria-expanded]="!isCollapsedData" aria-controls="collapseExample">
  Data
</button>
<button type="button" class="btn btn-outline-primary" (click)="isCollapsedSettings = !isCollapsedSettings"
        [attr.aria-expanded]="!isCollapsedSettings" aria-controls="collapseExample">
  Settings
</button>
<button type="button" class="btn btn-outline-primary" (click)="rebuildGrid()"
        [attr.aria-expanded]="!isCollapsedSettings" aria-controls="collapseExample">
  Rebuild
</button>

</body>
</html>
<app-dark-mode style="display: none"></app-dark-mode>

