
@media only screen and (min-width: 415px){
  .button-light {
    background-color: #f1f3f4;
    border: none;
    color: #082344;
    height: 250px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: auto;
  }

  .button-dark {
    background-color: #343a40;
    border: none;
    color: white;
    height: 250px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: auto;
  }
  .container{
    margin-top: 4px;
    max-width: 750px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 4px;
  }
}

@media only screen and (max-width: 415px) {
  .button {
    border: none;
    color: #082344;
    height: 100px;
    width: 250px;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    cursor: auto;
  }
  .container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 4px;
  }
}

#button1:hover {
  background-image: url("src/assets/Messung1.jpg");
}

#button2:hover {
  background-image: url("src/assets/db.png");
}

#button3:hover {
  background-image: url("src/assets/settings.png");
}


